.idea
__pycache__
cogs/__pycache__
cogs/Events/__pycache__
cogs/Moderation/__pycache__
cogs/Information/__pycache__
cogs/Music/Lavalink-python/logs
cogs/Linuxinfo
cogs/Meme
logs/fun.log
logs/images.log
logs/information.log
logs/moderation.log
logs/owner.log
logs/utility.log